<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div center>
      <ion-item>
        <ion-label>Mobile/Email</ion-label>
        <ion-input [(ngModel)]="id" required type="text" placeholder="me@company.org"></ion-input>
      </ion-item>
    <div center *ngIf="!validUser">
      <ion-button size="medium" expand="block" (click)="validate()" disabled="{{ validUser }}">Find User</ion-button>
    </div>
    <div center *ngIf="validUser">
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="password" required type="password" placeholder="mysecret"></ion-input>
      </ion-item>
      <ion-button size="medium" expand="block" (click)="login()">Login</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
        <ion-button (click)="register()">
          Register
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
