<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Year</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let year of yearList" (click)="itemSelected(year)">
        <ion-label>
            <h2>{{ year.val }}</h2>
        </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>