<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Judgment Content</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <!-- p [innerHTML]="bypSan(payload.hContents)"></p -->
  <iframe mode="ios" [srcdoc]="bypSan(payload.hContents)"></iframe>
</ion-content>
