<ion-header>
  <ion-toolbar>
    <ion-title>Citation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let journal of journalList" (click)="itemSelected(journal)">
        <ion-label>
            <h2>{{ journal.val }}</h2>
        </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
