<ion-tabs>
  <!-- ion-tab label="Diary" icon="today" href="/tabs/(diary:diary)">
    <ion-router-outlet name="diary"></ion-router-outlet>
  </ion-tab -->
  <ion-tab label="Store" icon="cart" href="/tabs/(store:store)">
    <ion-router-outlet name="store"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Search" icon="search" href="/tabs/(search:search)">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Citation" icon="filing" href="/tabs/(citation:citation)">
    <ion-router-outlet name="citation"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="contact" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
