<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="reqPDF()">
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div center text-center>
        <div class="{{ jstatus }}">
            <h1> {{ payload.iconumber }}</h1>
        </div>
        <h4>{{ payload.court }}</h4>
        <h5 *ngIf="loaded">Decided on {{ payload.date }}</h5>
        <h5>{{ payload.judges }}</h5>
        <p>{{ payload.petitioners }}</p>
        <p *ngIf="loaded">Vs.</p>
        <p>{{ payload.respondents }}</p>
    </div>
  <ion-list>
    <div *ngIf="payload.casenumbers.length > 0">
        <b>Case Numbers : </b>{{ payload.casenumbers.join(', ') }}<br><br>
    </div>
    <div *ngIf="payload.equivalents.length > 0">
        <b>Equivalents : </b>{{ payload.equivalents.join(' :: ') }}<br><br>
    </div>
    <div *ngIf="payload.referredout.length > 0">
        <b>Refers to :-</b><br>
        <ion-button 
            *ngFor="let entry of payload.referredout"
            (click)="openCase(entry)"
            shape=""
            color="{{ bToC1(entry.status) }}"
            disabled="{{ !entry.status }}"
            fill="outline"
            small
            >
            {{ entry.val }}
        </ion-button>
        <br>
    </div>
    <div *ngIf="payload.mentionedin.length > 0">
        <b>Mentioned in :-</b><br>
        <ion-button 
            *ngFor="let entry of payload.mentionedin"
            (click)="openCase(entry)"
            shape=""
            color="{{ bToC1(entry.status) }}"
            disabled="{{ !entry.status }}"
            fill="outline"
            small
            >
            {{ entry.val }}
        </ion-button>
        <br>
    </div>
    <div *ngIf="payload.overruleding.length > 0">
        <b>Overruled by :-</b><br>
        <ion-button 
            *ngFor="let entry of payload.overruleding"
            (click)="openCase(entry)"
            shape=""
            color="{{ bToC1(entry.status) }}"
            disabled="{{ !entry.status }}"
            fill="outline"
            small
            >
            {{ entry.val }}
        </ion-button>
        <br>
    </div>
    <div *ngIf="payload.overruled.length > 0">
        <b>Overrules :-</b><br>
        <ion-button 
            *ngFor="let entry of payload.overruled"
            (click)="openCase(entry)"
            shape=""
            color="{{ bToC1(entry.status) }}"
            disabled="{{ !entry.status }}"
            fill="outline"
            small
            >
            {{ entry.val }}
        </ion-button>
        <br>
    </div>
    <div *ngIf="payload.headnotes.length > 0">
        <label for="menin"><b>Headnotes</b></label>
        <ion-list>
            <ion-item *ngFor="let entry of payload.headnotes; let i = index">
                <p (click)="copyContents(i)">{{ getAlphabet(i) }}. {{ entry }}</p>
            </ion-item>
        </ion-list>
    </div>
    <div center center-text>
        <ion-button
            shape=""
            color="{{ bToC1(payload.properties.judgmentcontent) }}"
            disabled="{{ !payload.properties.judgmentcontent }}"
            fill="outline"
            (click)="fullJudgment()"
            style="width: 100%;">Full Judgment</ion-button>
        <div *ngFor="let att of payload.attachments">
            <ion-button
                shape=""
                color="dark"
                (click)="downloadTP(att)"
                style="width: 100%;">{{ att.title }}</ion-button>
        </div>
    </div>
  </ion-list>

</ion-content>

