<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select the Citation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let citation of citationList" (click)="itemSelected(citation)">
          <ion-label>
              <h2>{{ citation.val }}</h2>
          </ion-label>
      </ion-item> 
    </ion-list>
  </ion-content>