<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loggedin">
    <ion-card>
      <img [src]="userinfo.image"/>
      <ion-card-header>
        <ion-card-subtitle>{{ userinfo.email + ' | ' + userinfo.mobile }}</ion-card-subtitle>
        <ion-card-title>{{ userinfo.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>User Sessions</ion-card-title>
        <ion-card-subtitle>Device Info</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <div *ngFor="let session of sessions; let i = index;">
            <ion-card-subtitle>#{{ session.id }}. {{ session.model }} [ {{ session.platform + ' ' + session.version }} ]</ion-card-subtitle>
          </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Customer Service</ion-card-title>
        <ion-card-subtitle>How to get in touch</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          <ion-button (click)="callCS()">Call Us</ion-button>
          <ion-button (click)="mailCS()">Mail Us</ion-button>
          <ion-button (click)="pacReq()">Request Package</ion-button>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="( !loggedin && vfail)" text-center style="top: 50%;">
    <ion-button href="/auth/login">Login</ion-button>
  </div>
</ion-content>
