<ion-header>
  <ion-toolbar>
    <ion-title>Parametric Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <select id="text" class="SLCTZ"> <option value="" selected>Enter your Text queries</option> </select>
  <select id="act" class="SLCTZ"> <option value="" selected>Select your Acts</option> </select>
  <select id="section" class="SLCTZ"> <option value="" selected>Select your Act with Sections</option> </select>
  <select id="case" class="SLCTZ"> <option value="" selected>Select your Case Numbers</option> </select>
  <select id="judge" class="SLCTZ"> <option value="" selected>Select your Judges</option> </select>
  <select id="party" class="SLCTZ"> <option value="" selected>Select your Parties</option> </select>
  <ion-grid>
    <ion-row>
      <ion-col size="6" no-padding>
        <ion-select 
          [(ngModel)]="decade"
          ok-text="Okay"
          cancel-text="Dismiss"
          expand="block"
          placeholder="Select Decade">
          <ion-select-option value="decade-0" selected>Any Year</ion-select-option>
          <ion-select-option value="decade-2010" >2010 - 2019</ion-select-option>
          <ion-select-option value="decade-2000" >2000 - 2009</ion-select-option>
          <ion-select-option value="decade-1990" >1990 - 1999</ion-select-option>
          <ion-select-option value="decade-1980" >1980 - 1989</ion-select-option>
          <ion-select-option value="decade-1970" >1970 - 1979</ion-select-option>
          <ion-select-option value="decade-1960" >1960 - 1969</ion-select-option>
          <ion-select-option value="decade-1950" >1950 - 1959</ion-select-option>
          <ion-select-option value="decade-1940" >1940 - 1949</ion-select-option>
          <ion-select-option value="decade-1930" >1930 - 1939</ion-select-option>
          <ion-select-option value="decade-1920" >1920 - 1929</ion-select-option>
          <ion-select-option value="decade-1910" >1910 - 1919</ion-select-option>
          <ion-select-option value="decade-1900" >1900 - 1909</ion-select-option>
          <ion-select-option value="decade-1890" >1890 - 1899</ion-select-option>
          <ion-select-option value="decade-1880" >1880 - 1889</ion-select-option>
          <ion-select-option value="decade-1870" >1870 - 1879</ion-select-option>
          <ion-select-option value="decade-1860" >1860 - 1869</ion-select-option>
          <ion-select-option value="decade-1850" >1850 - 1859</ion-select-option>
          <ion-select-option value="decade-1840" >1840 - 1849</ion-select-option>
          <ion-select-option value="decade-1830" >1830 - 1839</ion-select-option>
          <ion-select-option value="decade-1820" >1820 - 1829</ion-select-option>
          <ion-select-option value="decade-1810" >1810 - 1819</ion-select-option>
          <ion-select-option value="decade-1800" >1800 - 1809</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-button expand="block" color="primary" fill="outline" (click)="search(1)">Search</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list>
    <h5>Found {{ jcount }} cases with {{ hcount }} headnotes</h5>
    <pagination-controls maxSize="3" responsive="true" (pageChange)="search($event)" id="server"></pagination-controls>
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <ion-item *ngFor="let result of results | paginate: { id: 'server', itemsPerPage: 10, currentPage: curPage, totalItems: jcount }" (click)="itemSelected(result.id)">
      <ion-card>
        <ion-card-header>
          <h3>{{ result.iconumber }}</h3>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let hnote of result.brief; let i = index">
              <p>{{ getAlphabet(i) }}. {{ hnote }}</p>
            </ion-item>
          </ion-list>
        </ion-card-content>  
      </ion-card>
    </ion-item> 
    <pagination-controls maxSize="3" responsive="true" (pageChange)="search($event)" id="server"></pagination-controls>
  </ion-list>
</ion-content>
