<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select the Volume</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let volume of volumeList" (click)="itemSelected(volume)">
        <ion-label>
            <h2>{{ volume.val }}</h2>
        </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>